@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: "Montserrat", "Nexa";
}

body{
    background-color: #AE86BC;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0px;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
}

ul.navegacion li.navegacion {
    list-style: none; /*Quita el bullet point de la lista*/
    display: inline-block;/*Alinea los li*/
    font-size: 22px;
    font-weight: bold;
}

ul.navegacion li.navegacion a {
    color: #634FA1;
    text-decoration: none;
    padding: 5px;
}


h1, p {
    margin-left: 30px;
}

h2{
    color: #634FA1;
    font-size: 22px;
}

/*Mostrar de manera horizontal*/
.proceso_cifrado_descifrado {
    margin-left: 9%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(270px,1fr));
}

.parte_superior{
    width: 300px;
    height: 60px;
    border: 1px solid;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    color: #634FA1;
    border-color:#AE86BC;

}

.parte_inferior{
    width: 300px;
    height: 150px;
    border: 1px solid black;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    background-color: white;
    border-color: #AE86BC;
    /*margin: 0;*/
    padding-bottom: 48px;
    text-align: center; /*centrar los botones*/
}

.area_de_texto {
    width: 94%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 1%;
    border-style: none;
    outline: none;
    resize: none;
    font-size: 25px;
}

.boton_encode {
    border-bottom-left-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #634EA0;
    height: 30%;
    padding-bottom: 11px;
    padding-top: 10px;
    width: 42%;
}

.boton_decode {
    border-bottom-right-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #634EA0;
    height: 30%;
    padding-bottom: 11px;
    padding-top: 10px;
    width: 56.6%;
}

/*Coloro para el fondo dentrás de los botones*/
.botones {
    margin: none;
    background-color: #AE86BC;
}

.boton_encode:hover, .boton_decode:hover{
    background-color:rgb(66, 64, 64) ;
}

ul.info {
    list-style-type: circle;
}

.persona {
    float: right;
}

.interlineado {
    line-height: 2em;
}