@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: "Montserrat";
}

body{
    background-color: #97C6EA;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li, a {
    font-size: 22px;
    font-weight: bold;
    color: #2B81B8;
    text-decoration: none;
    background-color: white; /*Color del fondo de INICIO*/
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
}

.enlaces_de_navegacion {
    list-style: none; /*Quita el bullet point de la lista*/
}

.logo {
    background-color: white;
}

h1, p {
    margin-left: 30px;
}

h2{
    color: #2B81B8;
    font-size: 22px;
}

/*Mostrar de manera horizontal*/
section {
    margin-left: 9%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(270px,1fr));
}

.parte_superior{
    width: 300px;
    height: 60px;
    border: 1px solid;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    color: #2B81B8;
    border-color:#97C6EA;

}

.parte_inferior{
    width: 300px;
    height: 150px;
    border: 1px solid black;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    background-color: white;
    border-color: #97C6EA;
    /*margin: 0;*/
    padding-bottom: 48px;
    text-align: center; /*centrar los botones*/
}

textarea {
    width: 94%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 1%;
    border-style: none;
    outline: none;
    resize: none;
    font-size: 25px;
}

.boton_cifrar {
    border-bottom-left-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #4399D4;
    height: 30%;
    padding-bottom: 11px;
    padding-top: 10px;
    width: 42%;
}

.boton_descifrar {
    border-bottom-right-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #4399D4;
    height: 30%;
    padding-bottom: 11px;
    padding-top: 10px;
    width: 56.6%;
}

.botones {
    margin: none;
    background-color: #97C6EA;
}

.boton_cifrar:hover, .boton_descifrar:hover{
    background-color:slategray ;
}
